<div class="panel">

    <div class="panel-header">
        <strong>Setup Your BLog</strong>
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Blog Domain</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="crazyurls.com">
    </div>

    <div class="form-group">
        <label class="form-label" for="input-example-1">Blog title </label>
        <input class="form-input" type="text" id="input-example-1" placeholder="notitle.com">
    </div>

    <div class="panel-footer">
        <!-- buttons or inputs -->
        <button (click)="finalSubmit()" routerLink='/login' class="btn">Final Submit</button>
    </div>
</div>
