<div class="panel">
    <div class="panel-header">
        <strong>Quik Sigh Up Form</strong>
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">I'm a</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Do not know myself">
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">First Name</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Koi bhi chalega">
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Email Address</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Koi bhi chalega">
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Password</label>
        <input class="form-input" type="password" id="input-example-1">
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Confirm</label>
        <input class="form-input" type="password" id="input-example-1">
    </div>
    <div class="panel-footer">
        <!-- buttons or inputs -->
        <button (click)="save()" class="btn">Submit</button>
        <button routerLink="/register/step2" class="btn">Next</button>
    </div>
    <div class="panel-body">
        <!-- contents -->
        How did you here about us?
    </div>

</div>
