.avatar {
    margin-left: 1em;
}

.panel {

    width: 25em;
    height: 25em;
    text-align: left;
    position: fixed;
    left: 35%;
}

.avatar {
    margin-top: .5em;


}

.panel-header {
    text-align: center;
}

.panel-title {
    margin-top: .3em;
}
