<div class="panel">

    <div class="panel-header">
        <strong> Personal Details</strong>
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Profile Name</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Profile Name">
    </div>
    <div class="form-group">
        <label class="form-label" for="input-example-1">Blog Type</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Type">
    </div>

    <div class="form-group">
        <label class="form-label" for="input-example-1">Add a tag line to your profile</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="I am crazy man!!">
    </div>
    <div class="panel-footer">
        <!-- buttons or inputs -->
        <button (click)="save()" class="btn">Save</button>
        <button routerLink="/register/step3" class="btn">Next</button>
    </div>
</div>
