<div class="title">
    <div class="tile-icon">
        <div class="example-tile-icon">
            <i class="icon icon-file centered"></i>
        </div>
    </div>
    <div class="tile-content">
        <p class="tile-title"><strong>Write your post here..</strong></p>
        <input type='text' [formControl]="post" placeholder="Your story title goes here" class="input">
    </div>
    <div class="tile-action">
        <button class="btn btn-primary" (click)="startNewAdListing()">Publish</button>
    </div>
</div>
