<div class="custom">
    <div class="columns">

        <div class="column col-4 col-mx-auto">
            <div class="panel">
                <div class="panel-header">
                    <figure class="avatar" data-initial="YZ">
                        <img src="/assets/logo.png" alt="...">
                    </figure>
                    <div class="panel-title">
                        Sign In</div>
                </div>
                <div class="panel-footer">
                    <button (click)="signIn()" class="btn btn-block button">Sign in with
                        Google</button>
                </div>
            </div>
        </div>
    </div>
</div>
